 body{
    margin:0;
 }
 
.bg-container{
    box-sizing: 0;
    margin:0px;
    height:100vh;   
    max-width: 100vw;
   background: linear-gradient(45deg,#4158D0,#e560dc,#ffb374,#ef5f5f,#d840b6);
   background-size: 400% 400%;
   animation: bg 6s ease infinite;
   padding: 20px;
   display: flex;
   flex-direction: column;
   overflow: none;

}

@keyframes bg {
    0%{
        background-position: 0% 50%;
    }
    50%{
        background-position: 100% 100%;

    }
    100%{
        background-color: 0% 50%;
    }
    
}

 

 
.user-list{
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
}
 

.unorder-container{
     display: flex;
     flex-direction: column;
     flex-wrap: wrap;
    
     align-items: center;
     background-color: transparent;
     color:red;

     
}

.list-item{
    list-style:none;
    width:50%;
    background-color: yellowgreen;
    border:solid 2px;
    margin: 5px;
    font-size: 15px;
   

}
.card-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.user-image{
    height:20px;
    width:20px;
}
.delete-button{
    border:none;
    background-color: transparent;
    font-size: 18px;;
}
.label-text{
    display: none;
}
.card-heading{
    font-size: 18px;
}
.card-buttom{
    padding: 10px;
}

.pagination{
    display: flex;
    justify-content: center;
    flex-grow: 0;
    margin-top: 5%;

}

 @media screen and  (min-width:768px) {
    .unorder-container{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        background-color: transparent;
        flex-grow: 1;
    }
    .list-item{
        list-style:none;
        width:45%;
        border:solid 2px #red;
        height:20%;
        background-color: transparent;
    }
    .user-image{
        border-radius: 50px;
        height:30px;
        width:30px;
    }
    .delete-button{
        font-size: 25px;
        margin:0px;

    }

    .label-text{
        display: inline;
        font-weight: 600;
        font-size: 20px;
        margin-left: 0px;
    }
    .card-buttom{
        display: flex;
        justify-content: space-between;
     
    }

     
    
 }

 